<table>
	<tr>
		<th>
			<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-name", :style => "display:none;") %>
			<%= sort_site_helper "Name", "name" %>
		</th>
		<th>
			<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-region", :style => "display:none;") %>
			<%= sort_site_helper "Region", "region" %>
		</th>
		<th>
			<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-realm", :style => "display:none;") %>
			<%= sort_site_helper "Realm", "realm" %>
		</th>
		<th>
			<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-faction", :style => "display:none;") %>
			<%= sort_site_helper "Faction", "faction" %>
		</th>
		<th>
			<%= image_tag("spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner-count", :style => "display:none;") %>
			<%= sort_site_helper "Count", "count" %>
		</th>
	</tr>

	<% if @total > 0 %>
		<% @sites.each do |site| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td align="left"><%= link_to site.name.gsub('\\', '').titleize, out_url(site.id) %></td>
				<td align="center"><%= site.region %></td>
				<td align="center"><%= site.realm.gsub('\\', '').titleize %></td>
				<td align="center"><%= site.faction %></td>
				<td align="center"><%= site.count %></td>
			</tr>
		<% end %>
	<% end %>
</table>
<br />
<%= page_entries_info @sites %>
<%= will_paginate @sites, {:params => {:query => params[:query], :sort => params[:sort], :realm => params[:realm], :region => params[:region], :faction => params[:faction]}} %>
<br /><br />