<div class="sitedb-form" align="left">
	<% form_for(@user) do |f| %>
		<fieldset>
			<legend>Enter User Details</legend>
			
			<div>
				<%= f.label :name, 'Name:' %>
				<%= f.text_field :name, :size => 40 %>
			</div>
			<div>
				<%= f.label :user_password, 'Password:' %>
				<%= f.password_field :password, :size => 40 %>
			</div>
			<div>
				<%= f.label :user_password_confirmation, 'Confirm:' %>
				<%= f.password_field :password_confirmation, :size => 40 %>
			</div>
			<%= submit_tag "Create User!", :class => "submit" %>
			<%= submit_tag "Reset", { :name => 'reset', :class => "reset", :type => "reset" } %>
			<br /><br />
		</fieldset>
	<% end %>
</div>